@model List<Categories>
<div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    @foreach (var item in Model)
    {
        <a href="/Home/StockBy?CategorieName=@item.CategorieName">@item.CategorieName</a>
    }

    </div>

    <div class="sidenav-static">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Categories</span>
    </div>


