<div class="header">
    <a href="#default" class="logo">Assets</a>
    <div class="header-right">
        <a href="/home/index">Home</a>
        <a href="/home/assets">Assets</a>
        <a href="/home/categories">Categories</a>
        <a href="/home/stock">Stock</a>
    </div>
</div>