<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WebSite</title>
    <partial name="~/Views/Home/Partial/_StylesPartial.cshtml">
    <partial name="~/Views/Home/Partial/_NavbarPartial.cshtml">
    <partial name="~/Views/Home/Partial/_ScriptsPartial.cshtml">
    <partial name="~/Views/Home/Partial/_StylesPartial.cshtml">
</head>
<body>

    @RenderBody()

    <partial name="~/Views/Home/Partial/_FooterPartial.cshtml">
</body>
</html>